on:
  pull_request_review:
    types: [submitted]

jobs:
  alpha:
    if: github.event.review.state == 'approved' && !(startsWith(github.event.pull_request.head.ref, 'release/'))
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Increment alpha version
        id: version
        run: |
          npm version prerelease --preid alpha | xargs -0 -L1 -I '%' echo 'VERSION=%' >> "$GITHUB_OUTPUT"
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'Update package version to ${{ steps.version.outputs.VERSION }}'
          tagging_message: '${{ steps.version.outputs.VERSION }}'
          commit_user_name: Userfront Github Bot
          commit_user_email: 41898282+github-actions[bot]@users.noreply.github.com
          commit_author: Userfront Github Bot <ryan@userfront.com>
  release:
    if: github.event.review.state == 'approved' && startsWith(github.event.pull_request.head.ref, 'release/')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: pascalgn/automerge-action@v0.15.6
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_REQUIRED_APPROVALS: 1
          MERGE_FORKS: 0
